.mainDiv{
    overflow: hidden;
}
.navDiv{
    float:left;
    display: flex;
    padding-bottom: 1000px;
    position: fixed;
    z-index:1;
    top:0;
}
.listDiv{
    width:90%;
    float:right;
    margin:28px;
    z-index:-1;
}
.pages{
    justify-content: center;
}

